.App {
  text-align: center;
}

.Groups {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tracks {
  margin: auto;
}

td {
  text-align: left;
  padding: .4em 1em;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none
}
